[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycuda = "*"
cgen = "*"
jinja2 = "*"
numpy = "*"
h5py = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
